<section id="about" class="text-center py-5">
    <div class="container py-2">
      <div class="row justify-content-center">
        <h2 class="fw-bold">Om Meg</h2>
        <p class="lead text-muted mb-5">
            Tomters tjenester ble etablert i april 2022, av Vegard Tomter. Jeg leverer vaktmester- og håndverkertjenester til konkurransedyktige priser og tar på meg oppdrag både for privatpersoner og bedrifter. 

            Tomters Tjenester er en liten bedrift og arbeidet blir utført med personlig engasjement. Som samarbeidspartner er jeg seriøs og pålitelig, og etterstreber derfor høy kvalitet til riktig tid og pris. Det er mitt ansvar at jobben som gjøres alltid er i tråd med avtalen som er inngått på forhånd.
        </p>
      </div>
    </div>
    <h2 class="header py-5">Mine Spesialiteter</h2>
    <div class="mb-2">
        <div class="badge bg-success rounded-pill">Snekkerarbeid</div>
        <div class="badge bg-success rounded-pill">Rivearbeid</div>
        <div class="badge bg-success rounded-pill">Vedlikehold</div>
        <div class="badge bg-success rounded-pill">Steinlegging</div>
        <div class="badge bg-success rounded-pill">Beplanting og gartnerarbeid</div>
        <div class="badge bg-success rounded-pill">Ferdigplen</div>
        <div class="badge bg-success rounded-pill">Trefelling</div>
        <div class="badge bg-success rounded-pill">Beskjæring av trær & hekk</div>
        <div class="badge bg-success rounded-pill">Utvendig Rengjøring</div>
        <div class="badge bg-success rounded-pill">Flytteoppdrag</div>
        <div class="badge bg-success rounded-pill">Bortkjøring av avfall</div>
        <div class="badge bg-success rounded-pill">Kosting og Spyling</div>
        <div class="badge bg-success rounded-pill">Reparasjon av låser</div>
        <div class="badge bg-success rounded-pill">Utskifting av postkasser</div>
        <div class="badge bg-success rounded-pill">Utskifting av lyspærer</div>
      </div>
    <div class="container mb-5 py-5">
      <div class="row">
        <div class="col-lg-4 mx-auto mb-5">
          <div class="d-flex mb-5 about">
            <span class="material-icons-outlined m-auto text-primary">brush</span>
          </div>
          <h5>Design</h5>
          <p class="text-muted mb-0">
            Jeg hjelper deg å finne den beste løsningen for ditt behov, og går nøye igjennom planen med deg slik at resultatet blir 100% som forventet.
          </p>
        </div>
        <div class="col-lg-4 mx-auto mb-5">
          <div class="d-flex mb-5 about">
            <span class="material-icons-outlined m-auto text-primary">house</span>
          </div>
          <h5>Kvalitet i fokus</h5>
          <p class="text-muted mb-0">
            Som din håndverker er jeg seriøs og pålitelig, og etterstreber alltid høy kvalitet til riktig tid og pris. Jeg benytter stort personlig engasjement og tilstedeværelse i et hvert prosjekt jeg utfører. Det er mitt ansvar at jobben alltid er i tråd med avtalen som er inngått på forhånd.
          </p>
        </div>
        <div class="col-lg-4 mx-auto mb-5">
          <div class="d-flex mb-5 about">
            <span class="material-icons-outlined m-auto text-primary">hardware</span>
          </div>
          <h5>Fornøyd garanti</h5>
          <p class="text-muted mb-0">
            Din tillit er viktig for meg, og jeg garanterer at du blir fornøyd med jobben jeg utfører. Jeg er opptatt av at du som kunde skal være trygg på at jobben blir gjort riktig, og at du får det du betaler for.
          </p>
        </div>
      </div>
    </div>
   </section>