<div id="hero" class="bg-light py-5">
    <div class="container px-5">
      <div class="row align-items-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5">
            <h2 class="text-center fw-bold mb-2">Hei! Jeg er</h2>
            <h2 id="typed" class="text-primary text-center fw-bold mb-2">Vegard Tomter</h2>
            <p class="lead text-muted text-center mb-4">
              Altmuligmann fra brønnøysund som hjelper deg med alt fra snekring, vaktmestertjenester, hagearbeid til utleie av diverse verktøy og utstyr.
            </p>
            <div class="d-grid gap-3 d-sm-flex justify-content-center">
              <a class="btn btn-primary btn-large text-uppercase" href="#about">Learn More
                <span class="material-icons-outlined ms-2">help</span>
              </a>
              <a class="btn btn-outline-primary btn-large text-uppercase" href="#projects">View My Work
                <span class="material-icons-outlined ms-2">manage_search</span>
              </a>
            </div>
        </div>
      </div>
        <div class="col-lg-4 col-xl-5 col-xxl-6 justify-content-center">
            <img class="img-fluid rounded-3 my-5" src="./images/pergola.png" alt="Pergola">
        </div>
      </div>
    </div>
  </div>