<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-light shadow position-sticky top-0 bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="./images/Logo.png" alt="Tomters Tjenester" width="100" height="100" />
            Tomters Tjenester
          </a>
            <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            ><span class="navbar-toggler-icon"></span></button>
          <div class="container px-3">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="/">Hjem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#about">Om Meg</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#projects">Prosjekter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#contact">Kontakt meg</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>