<section class="container">
    <div class="container-fluid py-5">
        <div class="row text-center">
          <h1 class="header py-2">Mine Prosjekter</h1>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h4>Håndverk</h4>
                    </div>
                    <div class="card-body">
                        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="./images/Snekkerarbeid.png" class="d-block w-100" alt="Gjerde">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="./images/stakitt.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="./images/gjerde.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h4>Hage</h4>
                    </div>
                    <div class="card-body">
                        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="./images/bed.png" class="d-block w-100" alt="bed">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="./images/hage.png" class="d-block w-100" alt="hage">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="./images/hagedam.png" class="d-block w-100" alt="hagedam">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h4>Utlån</h4>
                    </div>
                    <div class="card-body">
                        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="./images/Kappsag.png" class="d-block w-100" alt="Kappsag">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="./images/Plenrulle.png" class="d-block w-100" alt="Plenrulle">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="./images/Vedkløyver.png" class="d-block w-100" alt="Vedkløyver">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>